
= styles_for :fields

.title
  %span#create_field_title= t(:admin_tab_fields)

.info= t(:admin_fields_info)

.info2= t(:admin_fields_info2)

.inline_tabs
  %ul
    - list_of_entities.each do |entity|
      - asset = entity.downcase


- list_of_entities.each do |entity|
  - asset = entity.downcase
  - klass = asset.classify.constantize

