.panel#summary
  %h4= h(@lead.full_name)
  - if !@lead.title.blank? && !@lead.company.blank?
    -# works_at: "{{job_title}} at {{company}}"
    %div= t(:works_at, :job_title => @lead.title, :company => @lead.company)
  - else
    %div= @lead.title unless @lead.title.blank?
    %div= @lead.company unless @lead.company.blank?

  %div= render "shared/address_show", :asset => @lead, :type => 'business', :title => :address

  %div
    - if @lead.phone.present?
      == #{t :phone}: <b>#{@lead.do_not_call ? content_tag(:strike, @lead.phone) : @lead.phone}</b><br />
    - if @lead.mobile.present?
      == #{t :mobile}: <b>#{@lead.do_not_call ? content_tag(:strike, @lead.mobile) : @lead.mobile}</b><br />
    - if @lead.email.present?
      == #{t :email}: <b>#{link_to_email(@lead.email)}</b><br />
    - if @lead.alt_email.present?
      == #{t :other}: <b>#{link_to_email(@lead.alt_email)}</b><br />
  = web_presence_icons(@lead)

  .caption #{t :lead_summary}
  %li
    %dt= t(@lead.status, :default => :n_a)
    %tt #{t :status}:



  - unless @lead.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @lead.background_info)

  = render "fields/sidebar_show", :asset => @lead

  - if @lead.tag_list.present?
    %dt
      .tags= tags_for_index(@lead)

  = hook(:show_lead_sidebar_bottom, self, :lead => @lead)
