- edit ||= false
- collapsed = session[:lead_status].nil? # && @lead.errors.empty?
= subtitle :lead_status, collapsed, t(:status)

.section
  %small#lead_status_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:lead_status_small)) unless edit
  #lead_status{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label.top #{t :assigned_to}:
          = user_select(:lead, all_users, current_user)
        %td= spacer
        %td
          .label.top #{t :status}:
          = f.select :status, lead_status_codes_for(@lead), { :selected => (@lead.status || "new").to_sym }, { :style => "width:160px" }
        %td= spacer
        %td
          .label.top #{t :rating}:
          = rating_select "lead[rating]", { :id => :lead_rating, :selected => @lead.rating, :style => "width:160px" }
      %tr
        %td
          .label #{t :source}:
        %td= spacer
