- entity_name = controller.controller_name.singularize.underscore
- @entity = instance_variable_get("@#{entity_name}")

$('##{dom_id(@entity)}').css('background-color', '#ffe4e1').slideUp(250);
- if called_from_index_page?
  = refresh_sidebar(:index, :filters)
  $('#paginate').replaceWith('#{ j render(:partial => "shared/paginate_with_per_page") }');

