= styles_for :lead

= render 'entities/title_bar'

.remote#create_lead{ hidden }

= render 'search'

.remote#options{ hidden }

.list#leads
  - if @leads.any?
    = render @leads
  - else
    = render "shared/empty"

