- if (template = template_for_current_view)
  = render(template, :lead => @lead)
- else

  -# default view


  = render 'leads/title_bar', :lead => @lead
  
  = render "comments/new", :commentable => @lead
  = render :partial => "shared/timeline", :collection => @timeline

  = hook(:show_lead_bottom, self, {entity: @lead}) do


    = render :partial => "versions/versions", :locals => {:object => @lead}

