//  .
//
//


// Place all the styles related to the Admin::FieldGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pairs .field_title {
  color: navy;
}

.info2 {
  font-weight: bold;
  color: red;
}
