
//= require jquery
//= require jquery_ujs
//= require jquery-ui
//= require select2
//= require crm
//= require crm_classes
//= require crm_loginout
//= require crm_tags
//= require crm_sortable
//= require textarea_autocomplete
//= require crm_textarea_autocomplete
//= require ajax-chosen-jquery
//= require crm_chosen
//= require crm_select2
//= require ransack_ui_jquery
//= require search
//= require lists
//= require autocomplete-rails
//= require datepicker
//= require jquery.disable
//= require jquery_ui_datepicker/jquery-ui-timepicker-addon
//= require admin/fields
//= require format_buttons
//= require crm_comments
//= require jquery_timeago
//= require timeago
//= require pagination
//= require_self

<%
Gem.loaded_specs.keys.grep(/^ffcrm_/).each do |plugin|
  require_asset(plugin) rescue Sprockets::FileNotFound
end
%>
