.panel#summary
  .caption #{t :opportunity_summary}

  %li
    %dt
      - if @opportunity.account
        = link_to(truncate(@opportunity.account.name, :length => 16), @opportunity.account, :title => @opportunity.account.name)
      - else
        #{t :n_a}
    %tt #{t :account}:

  %li.last
    #job title
    %tt #{t :name}:
    %dt= t(@opportunity.name)



  - unless @opportunity.background_info.blank?
    .caption #{t :background_info}
    = auto_link(simple_format @opportunity.background_info)

  = render "fields/sidebar_show", :asset => @opportunity

  - if @opportunity.tag_list.present?
    %dt
      .tags= tags_for_index(@opportunity)

  = hook(:show_opportunity_sidebar_bottom, self, :opportunity => @opportunity)
