= styles_for :opportunity

= render 'entities/title_bar'

.remote#create_opportunity{ hidden }

= render 'search'

.remote#options{ hidden }

.list#opportunities
  - if @opportunities.any?
    = render @opportunities
  - else
    = render "shared/empty"


= hook(:opportunity_index_after, self)
