- if (template = template_for_current_view)
  = render(template, :opportunity => @opportunity)
- else

  -# default view


  = render 'opportunities/title_bar', :opportunity => @opportunity

  = render "comments/new", :commentable => @opportunity
  = render :partial => "shared/timeline", :collection => @timeline

  = hook(:show_opportunity_bottom, self, {entity: @opportunity}) do

    = render "versions/versions", :object => @opportunity


