/*
 *  .
 *
 *

 *------------------------------------------------------------------------------
 */

/*
 *= require jquery-ui.custom
 *= require select2
 *= require modalbox
 *= require rails
 *= require base
 *= require header
 *= require common
 *= require chosen
 *= require ffcrm_chosen
 *= require fields
 *= require admin/fields
 *= require advanced_search
 *= require format_buttons
 *= require font-awesome
 *= require lists
 *= require_self

 */

<%
Gem.loaded_specs.keys.grep(/^ffcrm_/).each do |plugin|
  require_asset(plugin) rescue Sprockets::FileNotFound
end
%>
