// Chosen CSS Tweaks


.chzn-container {
  margin-top: 3px;
  margin-left: -1px; }

.chzn-container .chzn-results li {
  line-height: 15px;
  padding: 4px 7px 4px;
  border-bottom: none; }

// Multiselect

.chzn-container-multi .chzn-choices li {
  clear: none; }

.chzn-container-multi .chzn-choices .search-field input {
  height: auto; }

// Single select

.chzn-container-single .chzn-single {
  height: 21px;
  line-height: 21px; }

.chzn-container-single .chzn-single div b {
  background-position-y: -1px; }

.chzn-container-single .chzn-single abbr {
  top: 5px; }

// Address fields have extra margin
table.address {
  .chzn-container {
    margin-top: 5px; } }

// Basic styling for standard selects and other inputs

input {
  height: 17px;
  font-size: 13px; }

input[type=submit], input[type=file] {
  height: auto; }

select {
  height: 23px;
  color: #444444;
  background-color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, white 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%, white 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa; }
