//  .
//
//


$color_header: skyblue;
$color_header_background: #1e4262;
$color_logo: greenyellow;
$color_tab: white;
$color_tab_background: #466bb1;
$color_active_tab: black;
$color_active_tab_background: #E5E5E5;
$color_hover_tab: navy;
$color_hover_tab_background: #97baff;
$size_tab_height: 26px;
$size_tab_width: 80px;
$color_footer: grey;

// Header, tabs, and footer.


.tabs {
  background: $color_header_background;
  height: $size_tab_height;
  padding: 0px;
  text-align: center;
  width: 100%;
  i.fa { 
    font-size: 130%; 
    vertical-align:text-top; }
  ul {
    // :margin 0px 25%,  18% for 5th tab
    margin-left: 15px; }
  li {
    float: left;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
    margin: 0px 4px 0px 1px; }
  a:link, a:visited {
    img {
      background: none;
      vertical-align: bottom;
      float: none;
      margin-right: 7px; }
    background: $color_tab_background;
    color: white;
    float: left;
    padding: 4px 15px 6px;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: {
      topleft: 3px;
      topright: 3px; };
    -webkit-border-top: {
      left-radius: 3px;
      right-radius: 3px; }; }
  a:hover {
    background: $color_hover_tab_background;
    color: $color_hover_tab; }
  a:link.active, a:visited.active {
    background: $color_active_tab_background;
    color: $color_active_tab;
    text-decoration: none; } }

#footer {
  color: $color_footer;
  font-size: 10px;
  padding: 0px 0px 0px 16px;
  text-align: center; }
