//  .
//
//


// Form validation messages.

.errorExplanation {
  background-color: seashell;
  border: 2px solid salmon;
  font-size: 12px;
  padding: 8px;
  margin: 8px 13px 0px 13px;
  h2 {
    background: salmon;
    color: white;
    font: {
      size: 12px;
      weight: bold; };
    margin: -8px;
    padding: 5px; }
  ul {
    margin-left: 30px;
    li {
      border: none;
      font-size: 12px;
      list-style-type: disc;
      padding: 0px; } } }

.fieldWithErrors {
  input {
    border: {
      bottom: 1px solid lightpink;
      right: 1px solid lightpink; };
    background: pink; } }

// Flash messages.

p, div {
  &.flash_warning, &.flash_error {
    background: lightpink;
    color: maroon;
    margin: 0px;
    padding: 5px 0px 5px 16px; }
  &.flash_notice, &.flash_message {
    background: #ddff99;
    color: darkgreen;
    margin: 0px;
    padding: 5px 0px 5px 16px; }
  &.flash_exception {
    background: #ddff99;
    border: 5px limegreen solid;
    font-size: 14px;
    margin: 50px auto;
    padding: 50px;
    width: 450px;
    -moz-box-shadow: 5px 5px 15px #999999, -5px 0px 15px #999999;
    -webkit-box-shadow: 5px 5px 15px #999999, -5px 0px 15px #999999; } }

// Autocomplete.

div {
  &.auto_complete {
    background: white;
    border: {
      left: 1px solid silver;
      right: 1px solid silver;
      bottom: 1px solid silver; };
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 310px;
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      li {
        color: #3f3f3f;
        cursor: pointer;
        display: block;
        list-style-type: none;
        margin: 0px;
        padding: 2px;
        .highlight {
          background: lightyellow; }
        &.selected {
          background: royalblue;
          color: white;
          .highlight {
            background: royalblue; } } } } } }

// Pagination.

.pagination, .per_page_options {
  background: white;
  float: right;
  font-size: 11px;
  margin: 6px 0px 0px 0px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin: 0px 2px 0px 0px; }
  span.disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  span.current {
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &.hover, &.focus {
      color: navy;
      background: lightyellow;
      border-color: navy; } }
  em {
    color: #3f3f3f;
    border: 1px solid #bbbbbb;
    font-style: normal;
    font-weight: bold; } }

.per_page_options {
  margin-top: 15px;
  clear: both;

  span.per_page_label {
    color: #6A6A6A;
  }
}
