- content_for(:tabless) do
  500 error

!!!5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => :en,  :lang => :en }
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Mini CRM Exception
    = stylesheet_link_tag :application
    = javascript_include_tag :application

  %body
    #header
      #welcome
      %h3= link_to("Mini CRM", '/')
    %center
      %p.flash_exception#msg= exception
