#header
  #welcome
    - if current_user
      #{t :welcome},
      -# This span gets updated on the fly if user changes her name.
      %span#welcome_username= current_user.name
      %span> !&nbsp;&nbsp;

      - if current_user.admin?
        = link_to(t(:logout), logout_path, :method => :delete)
      = render "/layouts/jumpbox"
    - else
      = link_to(t(:login), login_path) << ""


  %h3
    = link_to("Mini CRM", root_path)
