= styles_for :account

= render 'entities/title_bar'

.remote#create_account{ hidden }

= render 'search'

.remote#options{ hidden }

.list#accounts
  - if @accounts.any?
    = render @accounts
  - else
    = render "shared/empty"


