- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")

$('#main').html('#{ j (render :template => "#{entity_name.pluralize}/show.html", entity_name => @entity) }');
= raw generate_js_for_popups(@entity, :opportunities)
