- if (template = template_for_current_view)
  = render(template, :account => @account)
- else
  
  -# default view

  = styles_for :opportunity

  = render 'accounts/title_bar', :account => @account

  %div#edit_account{ hidden }

  = render "comments/new", :commentable => @account
  = render :partial => "shared/timeline", :collection => @timeline

  = hook(:show_account_bottom, self, {entity: @account}) do

    = render "opportunities/opportunities", :object => @account

    = render "versions/versions", :object => @account

    = load_select_popups_for(@account, :opportunities)
